<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/music.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Sign In</title>

</head>

<body>
<section class="signin12">
    <div class="tab12">
        <div class="firr">
            <h2 class="hdaa"> <button> <img src="/img/ICN.png" alt=""></button> &nbsp;
                <div class="aba"><span class="melody"> Melody </span> Rhythm </div>
        </div>
        </h2>
        <div class="hdn">SIGN IN </div>
        <div class="txtar">
            <textarea name="Email" id="" cols="30" rows="1" placeholder="Email address" ></textarea>
        </div>
        <div class="as">
            <textarea name="Password" id="" cols="30" rows="1" placeholder="Password"></textarea>
        </div>
    </div>


    </div>
    <div class="join">
        <button>Sign In</button>
        <P class="MEMBER">Not a Member? <a href="">Join Us.</a> </P>
    </div>
</section>
    
    
    <section class="mainn">
    <div class="tab">
        <h2 class="hd"> <button> <img src="/img/ICN.png" alt=""></button>
            <div class="a"><span class="melody"> Melody </span> Rhythm </div>
        </h2>
<div class="ri">
    <p class="h"><a href="/"><button> Sign In </button></a></p>
    <img src="/img/CART-ICN.png" alt="" class="cr">
</div>
    </div>
    <div class="pic">
        <img src="/img/piano.png" alt="" class="p">
        <div class="txt">
            <p class="main"> GET THE RIGHT <br> FLOW OF MUSIC </p>
            <P class="secondline">Enjoy the exceptional quality of our products</P>
        </div>

    </div>
    <div class="heading">
        <p class="hd">New Launches</p>
        <img src="/img/ul.png" alt="" class="line">
    </div>
    <section class="grid">
        <div class="one">
            <img src="/img/itemone.png" alt="" class="one">
            <div class="details">
                <p class="name">PSR-SX700 DIGITAL WORKSTATION </p>
                <p class="con">Take your performance to a whole new dimension with the PSR-SX700. Replacing the hugely
                    successful PSR-S series.</p>
                <p class="amnt"> $ 850</p>
                <div class="adcrt">
                    <button class="crt">Add + </button>
                </div>
            </div>
        </div>
        <div class="one">
            <img src="/img/two.png" alt="" class="one">
            <div class="details">
                <p class="name">PSR-SX900 Digital Workstation </p>
                <p class="con">Take your performance to a whole new dimension with the PSR-SX900. Replacing the hugely
                    successful
                    PSR-S series.</p>
                <p class="amnt"> $ 1700</p>
                <div class="adcrt">
                    <button class="crt">Add + </button>
                </div>
            </div>
        </div>
        <div class="one">
            <img src="/img/two2.png" alt="" class="one">
            <div class="details">
                <p class="name">Yamaha PX - 560 MBE Arranger Piano </p>
                <p class="con">Take your performance to a whole new dimension with the PSX-560 MBE. Replacing the hugely
                    successful
                    PSR-S series.</p>
                <p class="amnt"> $ 3000</p>
                <div class="adcrt">
                    <button class="crt">Add + </button>
                </div>
            </div>
        </div>
        <div class="one">
            <img src="/img/three.png" alt="" class="one">
            <div class="details">
                <p class="name"> Casio CT - X8701N Keyboard </p>
                <p class="con">Take your performance to a whole new dimension with the CT - X8701N. Replacing the hugely
                    successful
                    PSR-S series.</p>
                <p class="amnt"> $ 2500</p>
                <div class="adcrt">
                    <button class="crt">Add + </button>
                </div>
            </div>
        </div>

    </section>
    <div class="footer">
        <h3 class="sub"> Subtotal: $3000 &nbsp; </h3>
        <button> Check your Cart </button>
    </div>
    </section>
    
</body>

</html>