<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/music.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>Shipment</title>

</head>

<body>
    <div class="tab">
        <h2 class="hd"> <button> <img src="/img/ICN.png" alt=""></button>
            <div class="a"><span class="melody"> Melody </span> Rhythm </div>
        </h2>
        <div class="ri">
            <p class="h"><a href="/"><button> Sign In </button></a></p>
            <img src="/img/CART-ICN.png" alt="" class="cr">
        </div>
    </div>
    <div class="crtt">
        <p> -  CHECKOUT - </p>
    </div>

    </div>

    <div class="pr">
        <p class="hds">Shipment Details</p>
        <p class="o">Items Orderd</p>
        <p class="ls"> PSR-SX900 Digital Workstation <span class="n"> 1 </span> <span> $ 1700 </span> </p>
        <p class="ls1">Yamaha PX - 560 MBE Arranger Piano <span class="b"> 1 </span> <span> $ 3000 </span> </p>
        <hr>
        <p class="pz">Total Price: <span class="c"> 2 </span> <span> $ 4700 </span> </p>

    </div>

    <div class="ds">
        <p> Full Name: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="Full Name"></textarea>
        <p> Phone Number: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="Phone Number"></textarea>
        <p> Street Address: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="Street Address"></textarea>
        <p> Pin Code: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="Pin Code"></textarea>
        <p> Floor Number: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="Floor Number"></textarea>
        <p> City: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="City"></textarea>
        <p> State: </p>
        <textarea name="Name" id="" cols="30" rows="1" placeholder="State"></textarea>

    </div>
    <div class="f">
        <button class="su">Submit</button>
    </div>

    

</body>

</html>