<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign In</title>
    <link rel="shortcut icon" href="/img/music.png" type="image/x-icon">
    <link rel="stylesheet" href="/sign.css">
</head>
<body>
    <section class="signin12">
        <div class="tab12">
            <div class="firr">
                <h2 class="hdaa"> <button> <img src="/img/ICN.png" alt=""></button> &nbsp; 
                    <div class="aba"><span class="melody"> Melody </span> Rhythm </div>
            </div>
            </h2>
            <div class="hdn">SIGN IN </div>
            <div class="txtar">
                    <textarea name="Email" id="" cols="30" rows="1" placeholder="Email address"></textarea> </div>
                    <div class="as">
                    <textarea name="Password" id="" cols="30" rows="1" placeholder="Password"></textarea>
                    </div>
                </div>
           
            
        </div>
        <div class="join">
            <button>JOIN US</button>
            <P class="MEMBER">Not a Member? <a href="">Sign Up.</a> </P>
        </div>
    </section>
    
</body>
</html>