<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/music.png" type="image/x-icon">
    <link rel="stylesheet" href="/CSS/style.css">
    <title>confirm page</title>

</head>

<body>
    <div class="tab">
        <h2 class="hd"> <button> <img src="/img/ICN.png" alt=""></button>
            <div class="a"><span class="melody"> Melody </span> Rhythm </div>
        </h2>
        <div class="ri">
            <p class="h"><a href="/"><button> Sign In </button></a></p>
            <img src="/img/CART-ICN.png" alt="" class="cr">
        </div>
    </div>
    <div class="crtt">
        <p> - ORDER CONFIRMED - </p>
    </div>
    <div class="cn">
        <p>Thanks for shopping with Melody Rhythm, Your Order has been successfully placed, and will be shipped in 24hrs.
            <br> <br> order.Id: #18537
        </p>
    </div>

    </div>

    <div class="bck">
         <button>Home</button>
    </div>



</body>

</html>